@font-face {
    font-family: 'bebas';
    src: url('../fonts/Bebas/bebas.eot');
    src: url('../fonts/Bebas/bebas.eot') format('embedded-opentype'),
        url('../fonts/Bebas/bebas.woff') format('woff'),
        url('../fonts/Bebas/bebas.ttf') format('truetype'),
        url('../fonts/Bebas/bebas.svg#BebasRegular') format('svg');

}
@font-face {
    font-family: 'thaisansneue-light';
    src: url('../fonts/ThaiSansNeueLight/thaisansneue-light.eot');
    src: url('../fonts/ThaiSansNeueLight/thaisansneue-light.eot') format('embedded-opentype'),
        url('../fonts/ThaiSansNeueLight/thaisansneue-light.woff') format('woff'),
        url('../fonts/ThaiSansNeueLight/thaisansneue-light.ttf') format('truetype'),
        url('../fonts/ThaiSansNeueLight/thaisansneue-light.svg#ThaiSansNeueLight') format('svg');

}
@font-face {
    font-family: 'thaisansneue-extra-light';
    src: url('../fonts/ThaiSansNeueExtraLight/thaisansneue-extralight.eot');
    src: url('../fonts/ThaiSansNeueExtraLight/thaisansneue-extralight.eot') format('embedded-opentype'),
        url('../fonts/ThaiSansNeueExtraLight/thaisansneue-extralight.woff') format('woff'),
        url('../fonts/ThaiSansNeueExtraLight/thaisansneue-extralight.ttf') format('truetype'),
        url('../fonts/ThaiSansNeueExtraLight/thaisansneue-extralight.svg#ThaiSansNeueExtraLight') format('svg');

}
::selection
{
    color:#FFF;
}
::-moz-selection
{
    color:#FFF;
} 

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
} 
a:hover {
    text-decoration:none !important;

}

h1 {
    font-family: "bebas";
}


html, body {
    min-height:100%;
    height:100%;
}
body {
    font-family: "bebas";

}

.row-data {
    margin:0 !important;


}
.splash-screen {
    /*    background-image:url('../images/splash-360-640.png');*/
    background-repeat:no-repeat;
    background-position:center;
    background-color:#64a09e;
    width:100%;
    height:100%;
    position:absolute;
    z-index:999999999;
}

.splash-screen img.splash {
    margin:0 auto;
    display:block;
}

.splash-screen img.loading-gif {
    width:80px;
    height:80px;
    position:absolute;
    top:90%;
    left:50%;
    margin-left:-40px;
    margin-top:-40px;
}

.title-top {
    background-color:#64a09e;
    color:#FFF;
    height:64px;
    position:relative;
    /*position: fixed;
    z-index: 99;
    margin-left:16px;*/
}
.title-top > * {
    color:#FFF;
}
.title-top h1{
    margin:0 auto;
    padding:0;
    line-height:68px;
    width:100%;
    font-size:18px;
}

.title-top h5 {
    font-size:10.05px; 
    font-family: "bebas";
    margin:0;
    padding:0;
    position:relative;
    top:22px;
}

.title-top .btn-images {
    position:absolute;
    top:22px;
}

.title-top .btn-left {
    left: 22px;

}

.title-top .btn-right {
    right:20px;
}

.title-top h5 span.line-white {
    width: 10%;
    background-color: #FFF;
    height: 1px;
    margin: 0 20px;
    line-height: 1px;
    display: inline-block;
}
.btn-images {
    background-repeat:no-repeat;
    text-indent:9999px;
    width:30px;
    height:30px;
    background-size:30px;
}
.btn-back-icon, .btn-back-icon:active  {
    display:none;
    background-image:url('../images/icons/back.png');


}

.btn-info-icon , .btn-info-icon:active { 
    background-image:url('../images/icons/info.png');   
}

.title-fixed {
    overflow:hidden;
    position:fixed;
    z-index:2000000000;
    /*    margin-left:15px;*/
    width:100%;
    min-width:310px;

}

header.fixed {
    margin-bottom:64px; 
} 
#map_canvas {
    width:100%;
    visibility: inherit !important;
}


.iphone5s {
    width:1136px;

}



/* LOADING PAGE */
#page-loading {
    position: fixed;
    width: 100%;
    background-color: #000;
    min-height: 300px;
    z-index: 999999;
    cursor: wait;
    opacity: 0.7;
    margin-left: 15px;
}

#page-loading .load-status {
    position: absolute;
    color: #FFF;
    left: 50%;
    top: 50%;
    font-size: 30px;
    width:50px;
    height:50px;
    overflow:hidden;
    margin-left:-25px;
    margin-top:-25px;

}


/* END OF: LOADING PAGE */

.page {
    width:100%;
    /* overflow: scroll;
     height: 807px;*/

}
div[id^="page-"] {
    min-width:310px;
    width:100%;
    margin-left:0 !important;
    background-color:#FFF;
    padding:0;
    /*  position:absolute; */

    /*    display:none;*/
    float:left;
    /*    padding-bottom:60px;*/

    overflow:auto; 




}
div[id^="page-"] > p { 
    text-align:center;
    color:crimson;
    margin:0 auto;
    font-size:25px;
    position:absolute;
    z-index:999;
    width:100%;


}

#page-home {
    z-index:9;
    /*    visibility:visible;*/
    display:block;
    background-color: #FFF; 
    /*    padding-bottom:58px;*/

}
#page-map {

}
#page-news {

}
#page-about {



}
.page {
    background-color:#FFF;
    margin-bottom:60px;
}
.page-show {
    /*    visibility: visible !important;*/
}
.page-hide {

    display:none;
    z-index:0;

}
/* HOME PAGE */
.page-content {




}

.cafe-list {
    /*    margin-bottom:64px;*/
}
.cafe-list ul {
    margin:0;
    padding:0 4px;
}
.cafe-list ul li:first-child {
    margin-top:4px;
}
.cafe-list ul li {
    float: left;
    width: 100%;
    height: 150px;
    background-color: #FFF;
    list-style: none;
    padding: 10px;
    margin: 0px 0px 4px 0px;
    border-radius: 10px;


}
.cafe-list ul li:last-child {
    /*    margin-bottom:62px; */
}
.cafe-list ul li a {
    display: block;
    width:100%;
    height:100%;
    text-decoration:none !important;
    float:left;
}
.cafe-list ul li h1 {
    font-size:14px;
    margin:0;
    padding:0;
    color:#353535;
    
    word-spacing:2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis ;
    /*    letter-spacing:1px;*/
}

.cafe-list ul li .data-detail {

    width: 50%;
    height: 100%; 

    position:relative;

}
.cafe-list ul li .first-detail {
    white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 35px;
}
.cafe-list ul li .first-detail:after {
    /*    content: "..."; */
}


.cafe-list ul li .time-detail  {
    float: left;
    bottom: 0;
    left: 0;
    position: absolute;

}
.cafe-list ul li .first-detail, .cafe-list ul li .time-detail {
    font-family:'thaisansneue-extra-light';
    font-size:18px;
    color:#353535;
    margin-bottom:0;
    margin-top:10px;
    line-height: 18px;


}
.cafe-list ul li .time-detail span.time-closed {
    background-color: #b01c22;
    position:absolute;
}


.cafe-list ul li .time-detail span.time-open {
    background-color: #598527;
    position:absolute;
}
.cafe-list ul li .time-detail span.day-time {
    color: #000;
    font-family: 'thaisansneue-extra-light';
    font-size: 95%;
    width: 103px;
    text-align: left;
    margin: 0;
    letter-spacing:1px;
}
.cafe-list ul li .time-detail span {
    font-family: 'bebas';
    font-size:10px;
    width: 60px;
    color: #FFF;
    float: left;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 0;
    height: 28px;
    line-height: 28px;
    margin-left:3px;
}
.cafe-list ul li .data-image {
    height:100%;
    width:auto;
}
.cafe-list ul li .data-image img {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}
.cafe-list ul li .data-image .thumb-list {
    border:4px solid #927354;
    padding:0;


    -moz-border-radius: 10px;

    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;

    margin-bottom:0;
    width:auto;
    height:100%;
}

/* TAB MENU FOOTER  */
.tab .row {
    position:fixed;
    bottom:-2px;
    z-index:2000000000;
    width:100%;
    margin-left:0;
}
.tab-menu {
    background-color:#5e5e5e;
    height:60px;
    width:100%;
}

.tab-menu ul  {
    margin:0;
    padding:0;
}

.tab-menu ul li {
    display:block;
    float: left;
    list-style:none;
    width:25%;
    height:100%;
    text-align: center;
    margin-top: 0;
    padding-top:10px;
}

.tab-menu ul li a[class^="me-icon-"] {
    background-repeat:no-repeat;
    width:40px;
    height: 40px;
    color:#FFF;
    display:block;
    text-align:center;
    margin:0 auto;
    line-height:138px;
    font-size:12px;
    background-position: center;
    text-decoration:none;
    text-indent:-9999px;
    background-size:40px;
    background-position:0 0;
}
.tab-menu ul li a {

}
.tab-menu ul li a.me-icon-home, .tab-menu ul li a.me-icon-home:active {
    background-image:url('../images/icons/tabs2/home@2x.png'); 
    background-position:0 -40px;
}

.tab-menu ul li a.me-icon-home-selected, .tab-menu ul li a.me-icon-home-selected:active {
    background-image:url('../images/icons/tabs2/home@2x_selected.png'); 
}
.tab-menu ul li a.me-icon-map, .tab-menu ul li a.me-icon-map:active {
    background-image:url('../images/icons/tabs2/map@2x.png'); 
}
.tab-menu ul li a.me-icon-map-selected, .tab-menu ul li a.me-icon-map-selected:active {
    background-image:url('../images/icons/tabs2/map@2x_selected.png'); 
}
.tab-menu ul li a.me-icon-news , .tab-menu ul li a.me-icon-news:active{
    background-image:url('../images/icons/tabs2/news@2x.png'); 
}
.tab-menu ul li a.me-icon-news-selected, .tab-menu ul li a.me-icon-news-selected:active {
    background-image:url('../images/icons/tabs2/news@2x_selected.png'); 
}
.tab-menu ul li a.me-icon-about, .tab-menu ul li a.me-icon-about:active {
    background-image:url('../images/icons/tabs2/about@2x.png'); 
}
.tab-menu ul li a.me-icon-about-selected, .tab-menu ul li a.me-icon-about-selected:active {
    background-image:url('../images/icons/tabs2/about@2x_selected.png'); 
}


/* NEWS PAGE */


.news-list ul {
    margin:0;
    padding:0;
}
.news-list ul li {


    width:100%;
    height:140px;
    background-color:#FFF;
    list-style:none;
    border-bottom:1px solid #737373;
    overflow-y:auto;
}
.news-list ul li a {
    text-decoration:none;
}
.news-list ul li  .data-detail {
    width:100%;


    position:relative;
    height:100%;
    overflow-y:hidden;

}

.news-list ul li .data-detail .desc {
    /*    float: left;
        padding-right: 13px;
        padding-left: 168px;
        padding-top: 6px;*/
    float:left;
    margin:10px;

}
.news-list ul li .data-detail h1 {
    margin:0;
    padding:0;
    word-spacing:2px;
    font-size: 14px;
    color:#353535;

    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}
.news-list ul li .data-detail p.news-date {
    /*    margin-bottom:0;
        position:absolute;
        right:10px;
        top:0;*/


}
.news-list ul li .data-detail p.news-details, .news-list ul li .data-detail p.news-date {
    font-size:18px;
    font-family: 'thaisansneue-extra-light';
    color:#353535;
    margin:0;

}
.news-list ul li .data-detail p.news-details {
    line-height: 18px;
    margin-bottom: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: normal;
    /* height: 81px; */
    text-overflow: ellipsis;
    overflow: hidden;
    /* white-space: pre-wrap; */
    margin-top:5px;
}
.news-list ul li .data-detail p.news-details p {
    /*line-height: 18px;
     
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 320px;*/
    margin:5px 0;

}
.news-list ul li .data-detail p.news-details p:after {
    content: "...";
}
.news-list ul li .data-detail .thumb-list {

    float:left;
    /*    position:absolute;*/
    left:0;
}

/* ABOUT PAGE */


#page-about .about {
    padding: 0 18px;
}

#page-about .about h1 {
    margin-top: 0;
    padding-top: 20px;
    font-size:14px;
}
#page-about .about .team {
    margin-top:20px;
    overflow-x:auto;

}
#page-about .about .team ul {
    padding:0;
    margin:0;
}
#page-about .about .team ul li {
    list-style:none;
    float:left;

    margin-right:20px;
    font-family: 'thaisansneue-extra-light';
    font-size:20px;


}

#page-about .about .team ul li img {
    margin:0 auto;
    display:block;
}
#page-about .about p.about-txt {
    font-size:18px;
    line-height:18px;
    margin:0;
    font-family: 'thaisansneue-extra-light';
}



/* ICONS PAGE */
#page-icons {
    background-color:#FFF;

}
.icons-cafe {
    padding:0 18px;
    margin-bottom:60px;
}
.icons-cafe h1 {
    margin-top:0;
    padding-top:10px;
    font-size:117%;
}
.icons-cafe, .icons-cafe a  {
    color:#715d41;
}
.icons-cafe hr {
    clear:both;

}
.icons-cafe ul {
    margin:0;
    padding:0;
    margin-bottom: 20px;
    float: left;
}
.icons-cafe ul li {
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 0;
    list-style: none;
    float: left;
    width: 100px;
    height: 100px;
    border:1px solid #EAEAEA;

}
.icons-cafe ul li:last-child {
    margin-right:0;
}

.icons-cafe ul li a {
    display:block;
    text-align:center;
    height:100%;
    text-decoration:none;
   

}
.icons-cafe ul li a img {
    width:auto;
    max-width:100%;
    height:100%;
    margin-bottom:5px;
}



/* CAFE DETAILS PaGE */
.cafe-slide {

    background-color:#353535;
}
#cafe-details {

    background-color:#FFF;
    margin-bottom:60px;
    overflow:hidden !important;
}


.cafe-data h1, .cafe-data h2, .cafe-h3 {
    margin-bottom:0;
}
#cafe-details .carousel-inner .item img {
    width:100%;  

}


#cafe-details .cafe-data .cafe-title {
    margin-bottom:22px;
    clear:both;
}
#cafe-details .cafe-data .cafe-title h1 {
    padding-left: 17px;
    padding-right:17px;
    /*    padding-top:18px;*/
    font-size:16px !important;
    word-spacing:2px;

}

#cafe-details .cafe-data .bar-txt {
    clear:both;
    background-color:#927354;
    padding-left:17px;
    padding-right:17px;
    margin:10px 0 18px 0;
    height:24px;
    float:left;


}
#cafe-details .cafe-data .bar-txt h4 {
    line-height: 24px;
    color: #FFF;
    margin:0;
    font-family: 'bebas';
    font-size: 18px;
    word-spacing:2px;
}

h4#v-cafe-location {
    font-size: 24px !important;
    line-height: 36px  !important;
}
h1#v-cafe-title {
    font-size: 14pt !important;
    color: #927354;
}

#cafe-details .cafe-data .details-txt {
    clear: both;
    font-family: 'thaisansneue-extra-light';
    padding-left: 17px;
    font-size: 18px;
    line-height:18px;
}

#cafe-details .cafe-data .details-txt p { 
    line-height:18px;
    padding-right:17px;
    margin:0;

}

#cafe-details .cafe-data .brewing-slide {
    height:55px;
    border:1px solid #e6e6e6;

    clear:both;
    margin-bottom:15px;

    overflow-x:scroll;
}
#cafe-details .cafe-data .brewing-slide ul {
    min-width:1000px; 
}
#cafe-details .cafe-data .cafe-services {
    clear:both;
    font-family: 'thaisansneue-extra-light';
    font-size:18px;
    padding-left:17px;
    margin-bottom:15px;
}

#cafe-details .cafe-data .cafe-services ul {
    margin:0;
    padding:0;
}
#cafe-details .cafe-data .cafe-services ul li {
    list-style:none;
    clear:both;
    height:15px;
    line-height:18px;
}

#cafe-details .cafe-data .cafe-services ul li span.static-txt {
    float: left;
    width: 90px;
    /*
        margin-right:10px;*/

}

#cafe-details .cafe-data .cafe-map {
    /*    height:150px;*/
    width:100%;
    position:relative;
    border:1px solid #e6e6e6;
    /*border:1px solid #000; */
    margin:18px 17px;
}

#cafe-details .cafe-data .cafe-map #map-location {
    width:100%;
    height:100%;
    background-color:#f0ede5;
}


#cafe-details .cafe-data .brewing-slide {
    margin-left: 17px;
}
#cafe-details .cafe-data .brewing-slide ul {
    padding:0;
    margin:0;

}
#cafe-details .cafe-data .brewing-slide ul li {
    float:left;
    list-style:none;

}

#cafe-details .cafe-data .brewing-slide ul li img {
    width:auto;
    height:50px;
    margin-top:1px;
    margin-right:5px;
    /*    border:1px solid #000;*/
}
#cafe-details .cafe-data .cafe-map .map-name {
    background-color: #715d41;
    width: 100%;
    height: 70px;

}

#cafe-details .cafe-data .cafe-map .map-name h4 {
    line-height:70px;
    font-size:26px;
    position:absolute;
    width:100%;
}

.btn-direction {

    background-image: url('../images/icons/map-name-icon.png');
    background-repeat: no-repeat;
    width: 40px;
    z-index: 999;
    bottom: 10px; 
    position: absolute;
    height: 40px;
    background-size:cover;
    right: 10px;
    /*   border:1px solid #ccc;*/
}
#cafe-details .cafe-data .cafe-map .map-name h4 i {
    /*    background-image: url('../images/icons/map-name-icon.png');
        background-repeat: no-repeat;
        width: 58px;
        z-index: 999;
        margin-top: 5px;
        height: 60px;
        position: absolute;
        margin-right: 6%;
        right: 0;*/
}

#cafe-details .cafe-data .cafe-services-icon {

}
#cafe-details .cafe-data  .cafe-services-icon ul {
    /*    margin: -30px -17px 20px 0;*/

    padding: 0;
    /*    float: left;*/

}

#cafe-details .cafe-data  .cafe-services-icon ul li {
    list-style: none;
    float: left;
    /*    margin-right: 30px;*/
    margin-bottom:-20px;

}

#cafe-details .cafe-data .cafe-services-icon ul li a {
    display: block;
    width:100%;
    height:100%;
}
#cafe-details .cafe-data .cafe-services-icon ul li a img {
    /*    width:80px;
        height:auto;*/
    /*    border:1px solid #000;*/
}

#cafe-details .cafe-data .cafe-getting {
    padding-left: 17px;
    font-family: 'thaisansneue-extra-light';
}

#cafe-details .cafe-data .cafe-getting h4 {
    font-family: 'thaisansneue-extra-light';
    font-size: 20px; 
    border-bottom: 1px solid #000;
    float: left;
}

#cafe-details .cafe-data .cafe-getting .details-txt .bts-icon {
    width:142px;
    font-family: 'thaisansneue-extra-light';
    font-size: 29px;
}
#v-cafe-getting-there {
    clear:both;
}

.bts-icon {
    display:none;
}

.bts-icon img {
    float: left;
    margin-right: 10px;
    height:52px;
} 
.bts-icon div {
    float:left;
    font-size:18px;

}
.bts-icon p {

    margin:0;
    text-align:center;
    padding:0;

}
#cafe-details .cafe-data .cafe-getting .open-hour  {

    float:left;
    width:320px;
}

span[id^="day-"]{ 
    width:100px;
    float:left;
} 

#cafe-details .cafe-data .cafe-getting .open-hour h4 {

    text-align: left; 

    color: #000;
    border-bottom: 1px solid #000;
    font-size: 18px;
    margin:0;

}

#cafe-details .cafe-data .cafe-getting .open-hour  ul {
    margin:0;
    clear:both;
    padding:0;
}
#cafe-details .cafe-data .cafe-getting .open-hour  ul li {
    list-style: none;
    color:#000;
    float:left;
    margin-right:15px;
}
#cafe-details .cafe-data .cafe-getting .open-hour  ul li  span.day-name {
    float:left; 
    width:35px;
}
#cafe-details .cafe-data .cafe-getting .details-txt > p {
    clear: both;
    margin-top: 25px;
}
.share {
    width:50px;
    height: 50px;
    margin-right:20px;
}
.share a {
    display:block;
    width:100%;
    height: 100%;
    text-indent:-9999px;
    background-size:50px;
    background-image:url('../images/icons/share.png'); 
    background-size:40px;
    background-repeat:no-repeat;
    background-position:center;
}

/* NEWS DETAIL PAGE */

.news-data .details-txt {
    padding: 5px 10px !important;
    text-align:justify

}


.news-data .brewing-slide {
    height: 75px !important;
    padding: 0 20px !important;
}

.news-data .brewing-slide h1 {

    margin: 0;
    font-size: 18px;
    line-height:40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top:-1px;
    
}

.news-data .brewing-slide .share {
    /*    margin-top:10px;*/
}

.social-icon ul li {
    margin-right: 0 !important;
    width: 62px !important;
}

.data-hide {
    background-color:#000;
    display:block;
    width:100%;
    height:100%;
    /*    display:none;*/
}

.logo {
    display: block;
    /* margin: 0 auto; */
    width: 120px;
    padding-top: 10px;
    margin-bottom: 3px;
    margin-left: -2px;

}


/* FREEZE PAGE */
.load {
    display:none;
    z-index:999999;
    position:absolute;
    left:50%;
    top:50%;
}
.load #spin {
    position: absolute;
    left: 50%;
    top: 50%; 
}
.load .freeze {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9999;
    /*    background-color: #000;
        opacity: 0.5;*/
}

.btn-location {
    z-index: 9999;
    position: absolute;
    right: 8px;
    bottom: 10px;
}

.no-drag {

    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(0, 0, 0, 0);
    top: 0px;
    left: 0px;
    z-index: 9;
    cursor:pointer;
    overflow:hidden;

}


/*** SWIPER ***/

.pagination {
    position: absolute;
    left: 0;
    text-align: center;
    bottom:5px;
    width: 100%;
    z-index:1;
}
.swiper-pagination-switch {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: #999;
    /*    box-shadow: 0px 1px 2px #555 inset;*/
    margin: 0 3px;
    cursor: pointer;
    opacity:0.7;
}
.swiper-active-switch {
    background: #fff;
}
.swiper {
    position:relative;
    width:100%;
    height:150px;
    float:left;
    background-color:#000;

    visibility:hidden;
}

.swiper .swiper-container {
    width:100%;
    height:100%;
}

.swiper .swiper-container  .swiper-wrapper .swiper-slide img {
    width:100%;
    height:100%;
    margin:0 auto;
}


.swiper .arrow-left {
    background: url(../images/arrows.png) no-repeat left top;
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -15px;
    width: 17px;
    height: 30px;
    z-index:999;
}
.swiper .arrow-right {
    background: url(../images/arrows.png) no-repeat left bottom;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -15px;
    width: 17px;
    height: 30px;
    z-index:9;
}

#map_panel {
    width: 500px;
    padding: 0 8px;
    overflow: auto;
    height: 250px;

    -webkit-box-shadow: 0 0 3px 0.5px #383538;
    box-shadow: 0 0 3px 0.5px #383538;    

    border: 1px solid #EAEAEA;

    z-index: 999;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -250px;
    background-color: #FFF;
    border-radius: 5px;

    position: fixed;
    display:none;
}

#map_panel button {
    position:absolute;
    right:9px;
    top:8px;
    z-index:999;
}


.social-link h4 {
    text-align: left;
    color: #000;
    border-bottom: 1px solid #000;
    font-size: 18px;
    font-family: 'thaisansneue-extra-light';
    float: left;
    margin: 10px 0 4px;
}
.social-link p {
    margin:0;
    clear:both;
}

.thumb-news {
    width:140px;
    height:140px;
}

.map-image {
    /*    width:100%;
        height:100%;*/

    position: absolute;



    left: 50%;
    top: 50%;
    margin-left:-512px;
    margin-top:-350px;

}

span.txt-span {
    float:left;
    width:65px;
}

.pagination {
    margin:0 !important;
}

.bean-txt {
    display: block;
    /* height: 100px; */
    word-wrap: break-word;
    text-overflow: ellipsis;
    float: left;
    max-width: 190px;
    margin-bottom:8px;
}

#v-cafe-description2 {
    font-size: 12px;
    font-weight: normal;
    margin-top: 15px !important;
}

ul.about-txt  {
    padding:0;
    margin:0;
}

ul.about-txt  li {
    list-style: none;
    font-weight: normal;
    font-size: 18px;
    line-height:18px;
    font-family: 'thaisansneue-light';
}


#v-cafe-fb, #v-cafe-tw, #v-cafe-ig {
    text-overflow: ellipsis;
    float: left;
    width: 220px;
    overflow: hidden;
    word-wrap: normal;
    white-space: nowrap;

}


/* Swipe 2 required styles */

.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;


    height:300px;
    height:100%;

}
.swipe-wrap {
    overflow: hidden;
    position: relative;
    height:100%;
    min-height:100%;
    display:block;
}
.swipe-wrap > div {
    float:left;
    width:100%;
    position: relative;
    height:100%;
    background-color:#FFF;
    display:block; 
    overflow:auto;
    padding-bottom:50px;

}

.swipe-control {
    position:absolute;
    bottom:0;
    left:50%;
    margin-left: -56px;
    margin-bottom:70px;
}

.arrow-left, .arrow-right .pagination {
    z-index:999999999 !important;
}